<body>
    <div id="body" class="body">
      <div id="item" class="container">
        <div class="aboutUs">
          <h1>DONER QUEEN ©</h1>
          <p style="height: 500px; max-width: fit-content;">Yes! Even the Queen herself, God Save the Queen, has enjoyed our finest kebabs. So basically we are very old.</p>
        </div>
        <div class="img1"></div>
        <div style="margin: 1% 10% 0px 10%; border: thin solid #7261387c; box-shadow: 0 0px 15px #ff0000;" >

        </div>
      </div>
    </div>
  </body>