<body>
    
    <header id = "header " class = "header">
      <a routerLink="/">
            <div id="title" class="title">
                  <p>
                    <i>DONER QUEEN ©</i>
                  </p>
                </div>
              </a>
                <div id = "menu" class="menu">
                  <a routerLink="contact">
                        <div id="contactForm" class="categories underline">
                            Contact Us ✆
                    </div>
                    </a>
                    <a routerLink="about-us">
                    <div class="categories underline">
                        About Us
                      </div>
                    </a>
                      <a routerLink="kebabs">
                      <div class="categories underline">
                        Kebabs
                      </div>
                      </a>
                      <a routerLink="pizzas">
                        <div class="categories underline">
                          Pizzas
                        </div>
                        </a>
                        <a routerLink="salads">
                          <div class="categories underline">
                            Salads
                          </div>
                          </a>
        </div> 
    </header>
    <section>
      <router-outlet></router-outlet>
    </section>



</body>