<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<body>
    <div class="contact-info">
        <h2>Contact Information</h2>
        <div class="contact-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Boulevard Ilinden 86-88</span>
        </div>
        <div class="contact-item">
          <i class="fas fa-phone"></i>
          <span>+389 75 500 000</span>
        </div>
        <div class="contact-item">
          <i class="fas fa-envelope"></i>
          <span>DONERdoner.com</span>
        </div>
        <div class="contact-item">
          <i class="fab fa-instagram"></i>
          <span>DONERQUEEN</span>
        </div>
      </div>
</body>